
<div class="flex justify-center">
  <input #searchInput class="h-10 w-60 rounded-md mb-5 border pl-2" type="text" [(ngModel)]="searchText" name="searchBox" placeholder="Search">
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title> {{post?.title}} </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{post?.content}}</p>
      <mat-action-row class="!flex !justify-between !items-center">
        <div><app-like [isUserAuthenticated]="isUserAuthenticated"[post]="post"></app-like></div>
        <div *ngIf="isUserAuthenticated && userId === post.creator">
        <a mat-button color="primary" [routerLink]="['/edit',post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator #paginator *ngIf="posts.length" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" aria-label="Select page">
</mat-paginator>

<p *ngIf="!posts.length && !searchText.length  && !isLoading" class="info-text mat-body-1">No posts added yet!</p>
<p *ngIf="!posts.length && searchText.length  && !isLoading" class="info-text mat-body-1">No Result!</p>